:root {
    --white: #fafafa;
    --offwhite: #e5e5e5;
    --accent: #a78bfa;
    --accent2: #7c3aed;
    --accent3: #ddd6fe;
    --red: #fb7185;
    --green: #34d399;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    display: grid;
    justify-content: center;
}

body {
    /* border: 1px solid red; */
    background: var(--white);
    width: 1120px;
    height: 100vw;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 25px 50px repeat(9, 1fr);
    gap: 32px;
}

.header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    place-self: center;
    padding-top: 50px;

    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 20px;
    align-items: center;
}

.header svg {
    width: 32px;
    fill: var(--accent);
}

.header h1 {
    color: var(--accent);
}

.menu {
    grid-column: 3 / 11;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 10px;
}

.menu input {
    width: 100%;
    height: 35px;
    padding: 5px;
    border: 3px solid var(--accent);
    border-radius: 6px;
    outline: none;
}

.open-form {
    padding: 8px;
    color: var(--white);
    background: var(--accent);
    border: 2px solid var(--accent);
    border-radius: 8px;
    font-weight: bold;
    width: 125px;
}

.open-form:hover {
    transform: scale(0.95);
    cursor: pointer;
}

table {
    /* border: 1px solid red; */
    grid-column: 1 / -1;
    grid-row: 3;
    font-size: 18px;
}

th {
    padding-bottom: 20px;
    font-size: 20px;
    color: var(--accent2);
}

td {
    /* border-bottom: 1px solid black; */
    text-align: center;
}

td, th {
    /* padding: 10px; */
    width: 50px;
    height: 50px;
}

tr:hover {
    background-color: var(--accent3);
}

.remove-book, .change-status {
    /* margin: 5px; */
    padding: 5px;
    border-radius: 8px;
    border: none;
    color: var(--white);
    font-weight: bold;
}

.remove-book {
    background-color: var(--red);
}

.remove-book:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.change-status {
    background-color: var(--green);
}

.change-status:hover {
    transform: scale(0.95);
    cursor: pointer;
}