:root {
    --white: #fafafa;
    --offwhite: #e5e5e5;
    --accent: #a78bfa;
    --accent2: #7c3aed;
    --accent3: #ddd6fe;
    --red: #fb7185;
    --green: #34d399;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    display: grid;
    justify-content: center;
}

body {
    /* border: 1px solid red; */
    background: var(--white);
    width: 1120px;
    height: 100lvh;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 25px 50px repeat(9, 1fr);
    gap: 32px;
}

/* Header */

.header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    place-self: center;
    padding-top: 50px;

    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 20px;
    align-items: center;
}

.header svg {
    width: 32px;
    fill: var(--accent);
}

.header h1 {
    color: var(--accent);
}

/* Menu */

.menu {
    grid-column: 3 / 11;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 10px;
}

.menu input {
    width: 100%;
    height: 35px;
    padding: 5px;
    border: 3px solid var(--accent);
    border-radius: 6px;
    outline: none;
}

.open-form {
    padding: 8px;
    color: var(--white);
    background: var(--accent);
    border: 2px solid var(--accent);
    border-radius: 8px;
    font-weight: bold;
    width: 125px;
}

.open-form:hover {
    transform: scale(0.95);
    cursor: pointer;
}

/* Table */

table {
    grid-column: 1 / -1;
    grid-row: 3;
    font-size: 18px;
}

th {
    padding-bottom: 20px;
    font-size: 20px;
    color: var(--accent2);
}

td {
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100px;
}

td, th {
    width: 10px;
    height: 50px;
}

tr:hover {
    background-color: var(--accent3);
}

.remove-book, .change-status {
    padding: 5px;
    border-radius: 8px;
    border: none;
    color: var(--white);
    font-weight: bold;
}

.remove-book {
    background-color: var(--red);
}

.remove-book:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.change-status {
    background-color: var(--green);
}

.change-status:hover {
    transform: scale(0.95);
    cursor: pointer;
}

/* Dialog Box */

dialog {
    margin: 200px auto;
}

dialog::backdrop {
    background-color: rgb(222, 215, 254, 0.60);
}

/* New Book Form */

form {
    display: grid;
    gap: 10px;
    text-align: center;
    font-size: 18px;
}

form p {
    color: var(--red);
    font-size: 14px;
    font-weight: bold;
    visibility: hidden;
}

form #author {
    margin-bottom: 25px;
}

form input {
    border-radius: 8px;
    outline: none;
    padding: 5px;
    border: 2px solid var(--accent)
}

form button {
    padding: 5px;
    border-radius: 8px;
}

.add-book-btn {
    border: 2px solid var(--accent);
    background-color: var(--accent);
    color: var(--white);
    font-weight: bold;
}

.close-menu-btn {
    border: 2px solid var(--red);
    background-color: var(--red);
    color: var(--white);
    font-weight: bold;
}

.add-book-btn:hover,
.close-menu-btn:hover {
    transform: scale(0.95);
    cursor: pointer;
}

form legend, form label {
    font-weight: bold;
}

.footer {
    position: sticky;
    grid-column: 1 / -1;
    grid-row: 13 / -1;
    align-items: center;
    width: fit-content;
    place-self: center;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

.footer svg {
    width: 32px;
}